// ////////////////////
// COLORS
// ////////////////////

$color-light-blue: hsl(215, 51%, 70%);
$color-cyan: hsl(178, 100%, 50%);
$color-white: hsl(0, 0%, 100%);


$color-main-bg: hsl(217, 54%, 11%);             //  (main BG): 
$color-card-bg: hsl(216, 50%, 16%);             //  (card BG):
$color-line: hsl(215, 32%, 27%);         //  (line): 

// ////////////////////
// FONTS
// ////////////////////

$default-font: 'Outfit', sans-serif;